.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  font-family: "Lato", sans-serif;
  color: #daefff;
  height: 72vh;
}
.activity-list {
  list-style: none;
  text-align: left;
}
