footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

a {
  color: aliceblue;
  margin: 0.5em;
  text-decoration: none;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

img {
  width: 1.5em;
}

#footer {
  color: #a9d5e0;
}
