body {
  margin: 0;
}

nav {
  text-decoration: none;
  height: 10%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 2vmin);
  color: aliceblue;
  border-bottom: 1px solid #daefff;
}

.link {
  color: aliceblue;
  margin: 0.5em;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a:active {
  text-decoration: underline;
}

a + a {
  justify-content: space-between;
}
