.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0em auto;
  align-items: center;
  width: 90%;
  height: 72vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #daefff;
  border-radius: 2em;
  width: 550px;
  height: 300px;
  margin: 0em 0.8em 0em 0.8em;
  padding: 0.5em;
  font-family: "Lato", sans-serif;
  font-size: calc(8px + 2vmin);
  color: #daefff;
}

@media screen and (max-width: 900px) {
  .card {
    height: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    height: 400px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    font-size: 18px;
  }
}

@media screen and (max-width: 260px) {
  .card {
    font-size: 15px;
  }
}

@media screen and (max-width: 150px) {
  .card {
    height: 100%;
    font-size: 12px;
  }
}
