html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-header {
  background-image: url("./assets/website\ banner\ -\ waves.svg");
  background-color: #00333F;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.intro {
  background-image: linear-gradient(#166E91, #00333F);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#scroll-button {
  border: 1px solid #daefff;
  padding: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(8px + 2vmin);
  color: #daefff;
  background-color: #00333F;
  border-radius:0.5em;
}

#title {
  font-family: 'Paytone One', sans-serif;
  font-size: calc(30px + 2vmin);
  color: #daedf2;
  text-decoration: none;
  text-align: center;
  position: absolute;
  left: 0; 
  right: 0; 
  margin: 0.3em auto 1em auto;
}
